@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

.container_section3{
  padding-top: 90px;
  padding-bottom: 50px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(15,47,46);
}

.container_section3_text{
    color: #FFF;
    font-size: 25px;
    text-align: center;
    width: 70%;
}
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  position:relative;
  z-index: 3;
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(211, 211, 211);
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: rgb(211, 211, 211);
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #ffffff;
}
.name{
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.description{
  width: 250px;
  font-weight: 400;
  font-size: 14px;
  color: #444444;
  text-align: center;
}

.swiper-navBtn{
    color: rgb(219, 255, 151);
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  
  background-color: #ffffff;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: rgb(219, 255, 151);
}
@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 50px;
  }
  .swiper-navBtn{
    display: none;
  }
}